# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.pyc
venv/
.env

# Build folders
dist/
build/

# Logs
*.log

# Editor files
.vscode/
.idea/
.DS_Store

# Frontend specific
crop-frontend/node_modules/
crop-frontend/dist/

node_modules/
dist/
*.log
.env
venv/
__pycache__/
models/
datasets/
*.h5
*.pkl
*.pt